@font-face {
  font-family: 'Smoothy';
  src: url('SmothyBubble-d9D06.otf');
}

@font-face {
  font-family: 'Noteworthy Light';
  font-style: normal;
  font-weight: normal;
  src: local('Noteworthy Light'), url('Noteworthy-Lt.woff') format('woff');
  }

body {
  background-color: #FEFFCC;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #dcddbb;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #dcddbb;
}

html::-webkit-scrollbar-track {
  background-color: #f4f5b7;
}

html::-webkit-scrollbar-track:hover {
  background-color: #f4f5b7;
}

/* logo location and animation */
.nav {
  top: 0;
  left: 0;
  max-width: 10rem;
  position: absolute;
  transform: translate(0rem, 1.6rem);
  transition: scale 0.2 ease;
}

.nav:active {
  scale: 0.90;
}

.nav:hover {
  scale: 1.1;
}

.container {
  margin-top: 2rem;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}

h1 {
  font-family: 'Smoothy';
  text-shadow: black 3px 3px 2px;
  font-size: 3.5rem;
  background-color: #FEFFDB;
  color: #E8AEAA;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
  border: 5px solid #E8AEAA;
  border-radius: 10px;
  letter-spacing: 0.2rem;
}

h2{
  font-family:"Noteworthy Light" ;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #de7178;
}
.info{
  max-width: 40rem;
  margin-top:-2rem;
}

.insta{
  max-width: 30rem;
}

@media screen and (max-width: 1280px) {
  h2{
    font-size: 1.5rem;
  }

  .info{
    max-width: 28rem;
  }
}

@media screen and (max-width: 800px) {
  h2{
    font-size: 1.5rem;
  }

  .info{
    max-width: 20rem;
  }
}

@media screen and (max-width: 600px) {
  h2{
    text-align: center;
  }

  h1{
    font-size: 2rem;
  }
  
  .nav{
    max-width: 5rem;
  }

}