@font-face {
  font-family: 'Smoothy';
  src: url('SmothyBubble-d9D06.otf');
}

body {
  font-family: 'Smoothy';
  background-color: #FEFFCC;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

/* Update the .star class */
.star {
  position: absolute;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
  animation: bounceRotateStar 0.7s ease-in-out forwards; /* Add a combined animation */
}

@keyframes bounceRotateStar {
  0%, 100% {
    transform: scale(0.4) rotate(-20deg);
  }
  50% {
    transform: scale(0.6) rotate(40deg);
  }

}

.star img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}


header {
  max-height: 6rem;
  background-color: #FEFFDB;
  border-bottom: #E8AEAA solid .2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; 
  color: #E8AEAA;
}

.navbar {
  max-width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -1.3rem;
}

.navbar .nerd{
  margin-left: -1rem;
}

.navbar .links {
  display: flex;
  gap: 10rem;
}

/* Logo styles */
.navbar .nerd {
  object-fit: cover;
  height: 8rem;
  width: 8rem;
}

.nerd:hover{
  transform: scale(1.2);
  transition: scale 0.3 ease;
}

.navbar .toggle_btn {
  color: #E8AEAA;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #FFDAB9;
  border: 2px solid #f5ba87 ;
  color: #E8AEAA;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 20px;
  font-size: 2rem;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #e6958f;
}

.action_btn:active {
  scale: 0.90;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: #E8AEAA;
}

/* Global link styles */
a:hover {
  color: #e6958f;
}

.lines {
  max-width: 100%;
  width: auto;
  height: auto;
}


.title {
  font-size: 25rem;
  letter-spacing: 1rem;
  z-index: 2;
  top:2vh;
  left:5vw;
  position: absolute;
  color: #944C51;
}

#vertical{
  display: none;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 10rem; /* Adjust the font size for smaller screens */
    top:20%;
    left:8.5%;
  }
  #horizontal{
    display: none;
  }
  #vertical{
    display: block;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #E8AEAA;
  }

  .navbar .links {
    display: flex;
    gap: 2rem;
  }

  .action_btn {
    background-color: #FFDAB9;
    border: 2px solid #f5ba87 ;
    color: #E8AEAA;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: scale 0.2 ease;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 7rem; /* Adjust the font size for smaller screens */
    top:20%;
    left:8.5%;
    letter-spacing: 0;
  }
  #horizontal{
    display: none;
  }
  #vertical{
    display: block;
  }

  .navbar .nerd {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
  }

  .navbar{
    padding-top:1rem;
  }
  a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #E8AEAA;
  }

  .navbar .links {
    display: flex;
    gap: 1rem;
    margin-left: -3rem;
  }

  .action_btn {
    background-color: #FFDAB9;
    border: 2px solid #f5ba87 ;
    color: #E8AEAA;
    padding: 0.5rem 0.5rem;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale 0.2 ease;
  }

  .star img {
    width: 40%;
    height: 40%;
    object-fit: contain;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 7rem; /* Adjust the font size for smaller screens */
    top:20%;
    left:8.5%;
    letter-spacing: 0;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #E8AEAA;
  }

  .action_btn {
    background-color: #FFDAB9;
    border: 2px solid #f5ba87 ;
    color: #E8AEAA;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: scale 0.2 ease;
  }

  .navbar .links {
    display: flex;
    gap: 5rem;
  }

  #horizontal{
    display: none;
  }
  #vertical{
    display: none;
  }
  #tablet{
    display: block;
  }
}